*{
    margin:0px;
    padding:0px;
}

body{
    margin:0px;
    padding:0px;
/*    overflow:hidden;*/
}

.img{
    height:100vh;
    width:100vw;
}

.img2{
    height:100vh;
    width:100vw;
}

div{
     height:100vh;
     width:100vw;
     position:relative;
}